process {
    executor = 'slurm'
}

env {
    NUMBA_CACHE_DIR = "/tmp"
    CELLPOSE_LOCAL_MODELS_PATH = "/opt/cellpose_models"
    NUMBA_CACHE_DIR = "/tmp"
    PYTORCH_ALLOC_CONF = "expandable_segments:True"
}

params {
    cellpose_use_gpu = true
    spaceranger_reference        = "/well/gordon-weeks/shared/reference_data/10xgenomics/refdata-gex-GRCh38-2020-A.tar.gz"
}
