params {
  // Reader
  technology = 'cosmx'

  // Patches
  patch_width_pixel = 6000
  patch_overlap_pixel = 150

  // Cellpose
  use_cellpose = true
  use_cellpose_channel_combination = true
  cellpose_diameter = 50
  cellpose_nuclear_channels = 'DNA'
  cellpose_membrane_channels = 'PanCK Membrane CD45'
  cellpose_nuclear_method = 'max'
  cellpose_membrane_method = 'max'
  cellpose_channels = 'nuclear membrane'
  flow_threshold = 0.4
  cellprob_threshold = -2

  // Filtering
  min_area_pixels2 = 2000
  min_transcripts = 10

  // Aggregation
  aggregate_channels = true
}
